.title {
  position: sticky;
  top: 0;
  background-color: #2e2e2e;
padding: 30px;
  font-size: 20px;
}
a {
  color: darkorange;
}

.exo-2 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.text {
  color: white;
}
.body {
  background-color: black;
}
.Introduction {
  background-color: #2e2e2e;
}
p {
  color: white;
  background-color: #2e2e2e;
}
