/*
!!!!!!!!!
Normal Desktop Settings
!!!!!!!!!
*/
/*Class for Sticky Titles at the top of the page*/
.title {
  position: sticky;
  top: 0;
padding: 30px;
  font-size: 25px;
}
/*Class used for all miscellanous tags that are also text*/
.t{
  color: white;
  background-color: #2e2e2e;
  font-family: "Exo 2", sans-serif;
  font-size: 15px;
}
/*Make links stand out with a dark orange color.*/
a {
  color: darkorange;
  background-color: #2e2e2e;
  font-family: "Exo 2", sans-serif;
}
/*Make all these groups share the same font and style*/
h1, h2, h3, h4, h5, h6, .Introduction, p, .title {
    color: white;
    background-color: #2e2e2e;
    font-family: "Exo 2", sans-serif;
}
/*Make sure headings have the right size*/
h1 {
  font-size: 21px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 19px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 17px;
}
h6 {
  font-size: 16px;
}
/*Make the body be black,because i like dark mode.*/
.body {
  background-color: black;
}
/*Make introductions stand out by having a different size*/
.Introduction {
  font-size: 16px;
}
/*Make paragraphs stand out by having a different size.*/
p {
  font-size: 15px;
}
/*
!!!!!!!!!
Custom Mobile Settings
!!!!!!!!!
*/
@media (max-width: 768px) {
  .title {
    position: sticky;
    top: 0;
    font-size: 20px;
    padding: 25px;
  }
  .t {
    font-size: 10px;
  }
  .Introduction {
    font-size: 12px;
  }
  p {
    font-size: 10px;
  }
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 13px;
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 11px;
  }
  a {
    font-size: 12px;
  }
  h1, h2, h3, h4, h5, h6, p, .Introduction, .title {
    color: white;
    background-color: #2e2e2e;
    font-family: "Exo 2", sans-serif;
  }
}
