/*Class for Sticky Titles at Top*/
.title {
  position: sticky;
  top: 0;
  background-color: #2e2e2e;
padding: 30px;
  font-size: 20px;
}
/*Make links dark orange*/
a {
  color: darkorange;
}

/*Class for text with the Exo 2 font*/
.exo-2 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/*Class for any form of text,for it to be white*/
.text {
  color: white;
}
/*Make the body be black,because i like dark mode*/
.body {
  background-color: black;
}
/*Make introductions stand out*/
.Introduction {
  background-color: #2e2e2e;
}
/*Make paragraphs stand out*/
p {
  color: white;
  background-color: #2e2e2e;
}
